.window{
animation:pop 0.18s ease;
}

@keyframes pop{
from{transform:scale(0.85);opacity:0}
to{transform:scale(1);opacity:1}
}

#dock{
position:absolute;
bottom:20px;
left:50%;
transform:translateX(-50%);
display:flex;
gap:15px;
padding:12px;
border-radius:20px;
backdrop-filter:blur(40px);
background:rgba(255,255,255,0.1);
}

.dockIcon{
width:50px;
transition:0.2s;
cursor:pointer;
}

.dockIcon:hover{
transform:scale(1.4);
}